<!-- views/taskmanager/index.ejs -->

<!-- Header -->
<%- include('../partials/header') %>

<!-- Projects -->
<div class="container mt-4">
	<h2>Task Manager</h2>
	<button
		class="btn btn-primary"
		data-bs-toggle="modal"
		data-bs-target="#createProjectModal"
	>
		Create New Project
	</button>

	<%- include('./partials/project_list', { projects }) %>
</div>

<!-- Modals -->
<%- include('./partials/project_modal') %> <%- include('../partials/footer') %>
