<!-- views/taskmanager/index.ejs -->

<!-- Projects -->
<div class="container m-4">
	<h2 class="mb-3">Task Manager</h2>
	<button
		class="btn btn-primary"
		data-bs-toggle="modal"
		data-bs-target="#createProjectModal"
	>
		Create New Project
	</button>
	<div class="mt-4">
		<!-- Project List -->
		<%- include('./partials/project_list', { ownedProjects,
		collaboratedProjects }) %>
	</div>
</div>

<!-- Project Modal -->
<%- include('./partials/project_modal') %>
