<!-- views/partials/footer.ejs -->

<footer class="bg-dark" id="footer">
	<div class="container text-center">
		<p class="mb-0">
			&copy; <%= new Date().getFullYear() %> <%- include('company_name')
			%>. All rights reserved.
		</p>
		<a
			href="#"
			class="d-block mt-2"
			id="back-to-top"
			aria-label="Back to top"
		>
			<i class="bi bi-arrow-up-circle"></i>
			Back to Top
		</a>
	</div>
</footer>
