<!-- views/partials/friends.ejs -->

<div id="friends-modal" class="friends-modal mt-3">
	<div class="friends-content">
		<h2>Friends</h2>
		<div class="friends-list">
			<!-- Placeholder for future content -->
			<h4>Notifications</h4>
			<h4>Followers</h4>
			<h4>Follows</h4>
			<h4>Blocked</h4>
		</div>
	</div>
</div>
