<!-- views\partials\reset_password.ejs -->

<div id="resetPasswordModal" class="auth-modal">
  <div class="auth-modal-content">
    <button class="auth-modal-close" id="closeResetPasswordModal" aria-label="Close">
      <a href='/' class="bi bi-x-square"></a>
    </button>
    <div class="auth-modal-header">
      <h2 class="auth-modal-title">Reset Password</h2>
    </div>
    <div class="auth-modal-body">
      <form action="/auth/reset-password/<%= resetToken %>" method="POST" novalidate>
        <div class="mb-3">
          <div style='display: none;'>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autocomplete='username'>
          </div>
          <input type="hidden" name="username" aria-hidden='true'>
          <label for="reset-password" class="form-label">New Password</label>
          <input type="password" id="reset-password" class="form-control" name="password" required autocomplete="new-password" aria-describedby="passwordHelp" />
          <ul class='psw-requirements'>
            <li class='lower'>At least one lowercase letter</li>
            <li class='upper'>At least one uppercase letter.</li>
            <li class='digit'>At least one digit.</li>
            <li class='symbol'>At least one special character.</li>
            <li class='psw-length'>At least 8 characters.</li>
          </ul>
        </div>
        <div class="mb-3">
          <label for="reset-confirm-password" class="form-label">Confirm Password</label>
          <input type="password" id="reset-confirm-password" class="form-control" name="confirmPassword" required autocomplete="new-password" />
        </div>
        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
      </form>
    </div>
  </div>
</div>
