<!-- views/chat/room-modal.ejs -->

<div id="room-modal" class="modal d-none">
	<div class="modal-content">
		<h5>Create New Room</h5>
		<form id="room-form">
			<input
				type="text"
				id="room-name"
				class="form-control mb-2"
				placeholder="Room Name"
				required
			/>
			<button type="submit" class="btn room-button-create w-100"
				>Create</button
			>
		</form>
		<button class="close-modal btn room-button-cancel btn-sm mt-2"
			>Cancel</button
		>
	</div>
</div>
