<!-- views/chat/partials/rooms.ejs -->

<div>
	<h3 class="text-center orange"><%= room?.name %></h3>
	<p class="text-muted text-center">Created by: <%= room?.username %></p>
</div>

<div id="messages" class="messages"></div>

<form id="messageForm">
	<input
		type="text"
		id="messageInput"
		placeholder="Type your message..."
		autocomplete="off"
	/>
	<button type="submit">
		<i class="bi bi-send-fill"></i>
	</button>
</form>
