<!-- views/index.ejs -->

<!-- Hero Section -->
<div class="background-overlay"></div>
<section class="hero-section">
  <div class="hero-content">
    <small class="role">Full Stack <span class='orange'>W</span>eb <span class='orange'>D</span>eveloper</small>
    <h1>Hi, I'm Behnam <span class='orange'>D</span>akermanji from Canada <img src="/images/index/canada-flag.png" alt="Canada Flag" class="flag-icon"></h1>
  </div>
</section>
