/*! public/css/friends.css */

.friends-modal {
    position: fixed;
    top: 2rem;
    left: -100%;
    width: 300px;
    height: 100%;
    background: var(--color-dark);
    color: white;
    z-index: 1050;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left var(--transition-duration);
    overflow-y: auto;
}

.friends-modal h2 {
    color: var(--color-primary);
}

.friends-modal.active {
    left: 0;
}

.friends-content {
    padding: 1rem;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color var(--transition-duration);
}

.close-button:hover {
    color: var(--color-primary);
}

#friends-modal .btn {
    background-color: var(--color-primary);
    color: white;
    transition: background-color var(--transition-duration);
}

#friends-modal .btn:hover {
    background-color: var(--color-primary-dark);
}
