/*! public/css/login.css */
/* *** Modal Styling *** */
.auth-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.auth-modal.active {
    display: flex;
}

.auth-modal-content {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 20px;
    max-height: 80%;
    overflow-y: auto;
}

#authModal .nav-link {
    color: var(--color-tertiary);
}

#authModal .nav-link:hover {
    color: var(--color-tertiary-dark);
}

#authModal .nav-link.active {
    color: var(--color-primary-dark);
}

.auth-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.auth-modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.auth-modal-close {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-tertiary-dark);
    /* Adjust icon color */
    z-index: 5;
    transition: color var(--transition-duration) ease;
}

.auth-modal-close i {
    font-size: inherit;
}

.auth-modal-close:hover {
    color: var(--color-primary-dark);
}

/* Tab Navigation */
.auth-tab-content {
    display: none;
}

.auth-tab-content.active {
    display: block;
}

/* Password Requirements */
.psw-requirements {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    font-size: 0.9rem;
}

.psw-requirements li {
    color: red;
    /* Default state */
}

.psw-requirements li.valid {
    color: green;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .auth-modal-content {
        max-height: 85%;
        max-width: 90%;
        padding: 15px;
        margin: 10px;
    }

    .auth-modal-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .auth-modal-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .auth-modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.2rem;
    }

    .auth-tab-content form {
        font-size: 0.9rem;
    }

    .auth-modal-body {
        padding: 10px;
    }

    .nav-tabs {
        justify-content: center;
        font-size: 0.85rem;
    }

    .nav-tabs .nav-item {
        margin: 0 5px;
    }
}

@media (max-width: 480px) {
    .auth-modal-content {
        max-width: 95%;
        max-height: 80%;
    }

    .auth-modal-title {
        font-size: 1rem;
    }

    .auth-tab-content form {
        font-size: 0.85rem;
    }

    .btn {
        font-size: 0.85rem;
        padding: 8px 12px;
    }

    .psw-requirements {
        display: none;
    }
}
