<!-- views/taskmanager/partials/task_modal.ejs -->

<div id="taskModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">New Task</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
				></button>
			</div>
			<div class="modal-body">
				<form id="createTaskForm">
					<input
						type="hidden"
						name="projectId"
						value="<%= project.id %>"
					/>
					<div class="mb-3">
						<label class="form-label">Task Name</label>
						<input
							type="text"
							class="form-control"
							name="name"
							required
							autofocus
							autocomplete="off"
						/>
					</div>
					<div class="mb-3">
						<label class="form-label">Priority</label>
						<select
							name="priority"
							id="priority"
							class="form-control"
						>
							<option value="">-</option>
							<option value="low">🟢 Low</option>
							<option value="medium">🟡 Medium</option>
							<option value="high">🔴 High</option>
						</select>
					</div>
					<div class="mb-3">
						<label id="assigned_to" class="form-label"
							>Assign To</label
						>
						<select
							name="assigned_to"
							id="assigned_to"
							class="form-control"
						>
							<option value="">-</option>
							<% collaborators.forEach(collaborator => { if
							(collaborator.role === 'editor') { %>
							<option value="<%= collaborator.email %>"
								><%= collaborator.email %></option
							>
							<% }}); %>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Due Date</label>
						<input
							type="date"
							class="form-control"
							name="due_date"
							autocomplete="off"
						/>
					</div>
					<button type="submit" class="btn btn-primary">
						Save Task
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
